<div style="display: flex; align-items: center; justify-content: center; width: 100%; color: #EE4D64;">
<h1>GymPoint</h1>
</div>
<strong>Olá, {{ student }}</strong>

<p>Sua matricula foi realizada com sucesso, seja bem vindo(a) a GymPoint, confira os detalhes abaixo:</p>
<p>
  <strong>Data da Matrícula: </strong> {{ start_date }} <br />
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Preço Total: </strong> {{ price }} <br />
  <strong>Vigência: </strong> {{ duration }} <br />
  <h4>Horario de funcionamento:</h3>
  <small>
    <strong>Segunda a sexta:</strong> 06:00 - 22:00 <br />
    <strong>Sabados e domingos:</strong> 08:00 - 18:00
  </small>
</p>
